
*.props
.vs/*
*.ipch
saturnin/lib/vcpkg/vcpkg.cfg
saturnin/compile_commands.json
*.db-wal
*.db-shm
*.clang-tidy.cpt_backup
*.tmp
saturnin/doxygen/generated/*
saturnin/My Inspector Results - saturnin/*
GPUCache/*
saturnin/VTune Profiler Results/*
debug.log
saturnin/saturnin.vcxproj.user